<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="paused" default="false" />
  <arg name="cassie_filename" default="cassie_gazebo" />
  <arg name="use_sim_time" default="true" />
  <arg name="gui" default="true" />
  <arg name="headless" default="false" />
  <arg name="debug" default="false" />
  <arg name="verbose" default="true" />

  <arg name="z" default="2" />
  <arg name="robot_name" default="cassie" />

  <rosparam file="$(find cassie_gazebo)/config/$(arg robot_name).yaml" command="load" />

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)" />
    <arg name="use_sim_time" value="$(arg use_sim_time)" />
    <arg name="headless" value="$(arg headless)" />
  </include>

  <!-- This is needed because controller manager needs the robot description parameter -->
  <param name="$(arg robot_name)_robot_description" command="$(find xacro)/xacro $(find cassie_gazebo)/urdf/$(arg cassie_filename).xacro" />

  <node name="joint_state_publisher_$(arg robot_name)" pkg="joint_state_publisher" type="joint_state_publisher" respawn="false" output="screen">
    <param name="publish_frequency" type="double" value="5.0" />
    <remap from="robot_description" to="$(arg robot_name)_robot_description" />
    <remap from="/joint_states" to="$(arg robot_name)/joint_states" />
  </node>

  <node name="robot_state_publisher_$(arg robot_name)" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
    <param name="publish_frequency" type="double" value="5.0" />
    <remap from="robot_description" to="$(arg robot_name)_robot_description" />
    <remap from="/joint_states" to="$(arg robot_name)/joint_states" />
  </node>

  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" args="-x 0 -y 0 -z $(arg z) -param $(arg robot_name)_robot_description -urdf -model cassie" respawn="false" output="screen" />

</launch>