<?xml version="1.0"?>
<robot name="movable_arm">
  <!--TODO: Please complete this and make a pull request. -->
  <link name="base_link">
    <visual>
      <geometry>
        <cylinder length="2" radius="1" />
      </geometry>
    </visual>
    <inertial>
      <mass value="1" />
      <inertia ixx="1.0" ixy="1.0" ixz="1.0" iyy="1.0" iyz="1.0" izz="1.0" />
    </inertial>
    <collision>
      <geometry>
        <cylinder length="3" radius="0.3"/>
      </geometry>
    </collision>
  </link>

  <link name="upper_arm_link">
    <visual>
      <geometry>
        <cylinder length="3" radius="0.3" />
      </geometry>
    </visual>
    <inertial>
      <mass value="1" />
      <inertia ixx="1.0" ixy="1.0" ixz="1.0" iyy="1.0" iyz="1.0" izz="1.0" />
    </inertial>
    <collision>
      <geometry>
        <cylinder length="3" radius="0.3"/>
      </geometry>
    </collision>
  </link>

  <link name="fore_arm_link">
    <visual>
      <geometry>
        <cylinder length="3" radius="0.3" />
      </geometry>
    </visual>
    <inertial>
      <mass value="1" />
      <inertia ixx="1.0" ixy="1.0" ixz="1.0" iyy="1.0" iyz="1.0" izz="1.0" />
    </inertial>
    <collision>
      <geometry>
        <cylinder length="3" radius="0.3"/>
      </geometry>
    </collision>
  </link>

  <joint name="base_to_upper_arm" type="fixed">
    <parent link="base_link"/>
    <child link="upper_arm_link"/>
  </joint>

  <joint name="upper_to_fore_arm" type="fixed">
    <parent link="base_link"/>
    <child link="upper_arm_link"/>
  </joint>

</robot>