<?xml version="1.0"?>
<robot name="myfirst">
  <link name="base_link">
    <visual>
      <geometry>
        <sphere radius="1" />
      </geometry>
    </visual>
    <inertial>
      <mass value="1" />
      <inertia ixx="1.0" ixy="1.0" ixz="1.0" iyy="1.0" iyz="1.0" izz="1.0" />
    </inertial>
    <collision>
      <geometry>
        <sphere radius="1"/>
      </geometry>
    </collision>
  </link>
</robot>